#
# zfs-weekly-snapshot.timer
#

[Unit]
Description=ZFS Weekly Snapshot Timer

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true
Unit=zfs-weekly-snapshot.service

[Install]
WantedBy=multi-user.target
